@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Android;
    src: url('../fontes/idroid.otf') format('opentype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #ffffff;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

.im{
    width: 100%;   
}

#imCenter{
    display: block;
    margin: auto;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte0);
    margin: 0px;
    text-align: justify;
}

header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));
    padding: 10px;
}

header h1{
    font-family: var(--fonte1);
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    color: var(--cor6);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    
}

header p{
    width: 400px;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
    color: var(--cor6);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

nav{
    background-color: var(--cor4);
    padding: 10px;
}

nav a{
    color: var(--cor1);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 20px;
    transition-duration: .3s;
}

nav a:hover{
    color: var(--cor5);
    text-decoration: none;
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
}

main{
    background-color: var(--cor6);
    min-width: 400px;
    max-width: 800px;
    margin: auto;
    padding: 20px 20px 5px 20px;
    box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.555);
    border-radius: 0px 0px 10px 10px;
}

main p{
    margin: 15px 0px;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--cor5);
    font-size: bold;
}

main a{
    background-color: var(--cor1);
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 4px;
}

section h1{
    font-family: var(--fonte2);
    color: var(--cor4);
}

article h2{
    font-family: var(--fonte2);
    font-size: 1em;
    color: var(--cor4);
    background-image: linear-gradient(90deg, var(--cor0), var(--cor6));
    text-indent: 5px;
}

div.video{
    position: relative;
    padding-bottom: 59%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    outline: 20px solid var(--cor4);
}

div.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

aside{
    background-color: var(--cor0);
    border-radius: 10px;
    padding: 5px;
    text-align: justify;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.356);
}

aside h2{
    background-color: var(--cor3);
    color:var(--cor6);
    border-radius: 10px 10px 0px 0px;
    font-size: 1.2em;
    padding: 10px;
    margin: -5px -5px 0px -5px;
}

ul{
    columns: 2;
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
}

footer{
    background-color: var(--cor5);
    color: var(--cor6);
    text-align: center;
    padding: 4px;
    margin-top: 15px ;
}